# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
dist/
build/
.expo/
web-build/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
storage.rules.bak

# Mobile secrets
mobile/google-services.json
mobile/GoogleService-Info.plist
mobile/android/
mobile/ios/

# OS
.DS_Store
Thumbs.db
*.pem

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# Testing
coverage/
.nyc_output

# Misc
*.local
.cache/
